<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CDN links inclusion for bootstrap</title>

<!-- Latest compiled CSS -->
<link rel="stylesheet" href="../resources/css/bootstrap.css">

<!-- Optional theme -->
<link rel="stylesheet" href="../resources/css/bootstrap-theme.min.css">

<script src="../resources/js/jquery-1.11.3.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="../resources/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3" style="background: lightblue;">Hello Blue</div>
			<div class="col-md-4" style="background: orange;">Hello ORange</div>
			<div class="col-md-5" style="background: lightgreen;">Hello
				Green</div>
		</div>
		<div class="row">
			<div class="col-md-5" style="background: lightgreen;">Hello
				Green</div>
		</div>
		<div class="row">
			<div class="col-md-3" style="background: lightblue;">Hello Blue</div>
			<div class="col-md-4" style="background: orange;">Hello ORange</div>
		</div>
	</div>
</body>
</html>