<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CDN links inclusion for bootstrap</title>

<!-- Latest compiled CSS -->
<link rel="stylesheet" href="../resources/css/bootstrap.css">

<!-- Optional theme -->
<link rel="stylesheet" href="../resources/css/bootstrap-theme.min.css">

<script src="../resources/js/jquery-1.11.3.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="../resources/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container-fluid">
		<img alt="Samleswari Tigers Pic" src="../resources/images/img.jpg"
			class="img-thumbnail" width="350px"> <img
			alt="Samleswari Tigers Pic" src="../resources/images/img.jpg"
			class="img-circle" width="350px"> <img
			alt="Samleswari Tigers Pic" src="../resources/images/img.jpg"
			class="img-rounded" width="350px">
	</div>
</body>
</html>