<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CDN links inclusion for bootstrap</title>

<!-- Latest compiled CSS -->
<link rel="stylesheet" href="../resources/css/bootstrap.css">

<!-- Optional theme -->
<link rel="stylesheet" href="../resources/css/bootstrap-theme.min.css">

<script src="../resources/js/jquery-1.11.3.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="../resources/js/bootstrap.min.js"></script>

</head>
<body>
	<table class="table">
		<tr class="danger">
			<th>Sl no</th>
			<th>Name</th>
			<th>Email</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Srimant</td>
			<td>Srimant.sahu@gmail.com</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Srimanta</td>
			<td>Srimanta.sahu@gmail.com</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Srimantaa</td>
			<td>Srimantaa.sahu@gmail.com</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Srimantaaa</td>
			<td>Srimantaaa.sahu@gmail.com</td>
		</tr>
	</table>
	<hr />
	<table class="table table-striped">
		<tr class="warning">
			<th>Sl no</th>
			<th>Name</th>
			<th>Email</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Srimant</td>
			<td>Srimant.sahu@gmail.com</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Srimanta</td>
			<td>Srimanta.sahu@gmail.com</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Srimantaa</td>
			<td>Srimantaa.sahu@gmail.com</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Srimantaaa</td>
			<td>Srimantaaa.sahu@gmail.com</td>
		</tr>
	</table>
	<hr />
	<table class="table table-condensed">
		<tr class="success">
			<th>Sl no</th>
			<th>Name</th>
			<th>Email</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Srimant</td>
			<td>Srimant.sahu@gmail.com</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Srimanta</td>
			<td>Srimanta.sahu@gmail.com</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Srimantaa</td>
			<td>Srimantaa.sahu@gmail.com</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Srimantaaa</td>
			<td>Srimantaaa.sahu@gmail.com</td>
		</tr>
	</table>
	<hr />
	<table class="table table-bordered table-hover">
		<tr>
			<th>Sl no</th>
			<th>Name</th>
			<th>Email</th>
		</tr>
		<tr>
			<td>1</td>
			<td class="active">Srimant</td>
			<td class="success">Srimant.sahu@gmail.com</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Srimanta</td>
			<td>Srimanta.sahu@gmail.com</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Srimantaa</td>
			<td>Srimantaa.sahu@gmail.com</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Srimantaaa</td>
			<td>Srimantaaa.sahu@gmail.com</td>
		</tr>
	</table>
	<hr />
</body>
</html>