<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CDN links inclusion for bootstrap</title>

<!-- Latest compiled CSS -->
<link rel="stylesheet" href="../resources/css/bootstrap.css">

<!-- Optional theme -->
<link rel="stylesheet" href="../resources/css/bootstrap-theme.min.css">

<script src="../resources/js/jquery-1.11.3.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="../resources/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container-fluid">
		<h1>
			Heading 1 <small>Sub-Heading 1</small>
		</h1>
		<h2>Heading 2</h2>
		<h3>Heading 3</h3>
		<h4>Heading 4</h4>
		<h5>Heading 5</h5>
		<h6>Heading 6</h6>

		<blockquote>The BlockQuote Area</blockquote>
		<blockquote class="blockquote-reverse">The Reversed
			BlockQuote Area</blockquote>

		<p>
			The <abbr title="Unite Nation">UN</abbr> connects world with each
			other.
		</p>

		<mark>This section is highlighted.</mark>

		<dl class="dl-horizontal">
			<dt>Newspaper</dt>
			<dd>The Newspaper is the main source of information for rural
				people</dd>
			<dt>Internet</dt>
			<dd>The Internet is the biggest source of information for urban
				people</dd>
		</dl>

		<pre>
				This   line  has multiple     spaces  between      words  .
			This   new Line      also has     multiple  spacing   between   words .
		</pre>

		<p class="text-primary bg-primary">This is primary paragraph.</p>
		<p class="text-info bg-info">This is info paragraph.</p>
		<p class="text-success bg-success">This is success paragraph.</p>
		<p class="text-warning bg-warning">This is warning paragraph.</p>
		<p class="text-danger bg-danger">This is danger paragraph.</p>
		<p class="text-muted">This is muted paragraph.</p>

		<p class="lead">This is a lead paragraph.</p>
		<p class="small">This is a small paragraph.</p>
		<p class="text-right">Text in paragraph are aligned right.</p>
		<p class="text-left">Text in paragraph are aligned left.</p>
		<p class="text-center">Text in paragraph are aligned center.</p>
		<p class="text-uppercase">Text in paragraph are upper-cased.</p>
		<p class="text-lowercase">Text in paragraph are lower-cased.</p>

	</div>
</body>
</html>